<tr>
    <td>
      <%= @comment.body%>
    </td>
    <td>
    	<%= link_to "delete", [@article,@comment], method: :delete, data:{confirm: "are you sure"}, class: "glyphicon glyphicon-trash btn btn-danger " %>
    </td>
</tr>