<% comment.each do |comment| %>  
  <tr id="comment-<%= comment.id %>">
    <td>
      <%= comment.body%>
    </td>
    <td>
    	<%= link_to " delete", [@article,comment], method: :delete, remote: true, class: "glyphicon glyphicon-trash btn btn-danger " %>
    </td>
  </tr>
<% end %>
