<% comment.each do |comment|%>
<p><h3>Comment: </h3> <%= comment.body%></p>
<%= link_to "delete", article_comment_path(comment.article,comment), method: :delete, data:{confirm: "are you sure"}%>
<% end %>