<%= form_for([@article, @article.comments.build], :remote => remote) do  |comment|%>
	<pre>
		<%= comment.label :body %> <%= comment.text_field :body %> <%= comment.submit %><button type="button" onclick="hussnain()">Cancel</button>
	</pre>
<% end %>