<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
</head>
<body>
<div align="right">
	
	<button><%= link_to "Developers", "/developers" %></button>
	<button><%= link_to "Ammaar", "/ammaar" %></button>
	</div>
<h1>About Us</h1>
</body>
</html>