<!DOCTYPE html>
<html>
<head>
	<title>Developer</title>
</head>
<body>
	<div align="right">
	<button><%= link_to "Ammaar", "/ammaar" %></button>
	<button><%= link_to "About Us", "/about" %></button>
	</div>

<h1>Developer</h1>
</body>
</html>