<!DOCTYPE html>
<html>
<head>
	<title>Hussnain</title>
</head>
<body>

	<div align="right">
	
	<button><%= link_to "Ammaar", "/ammaar" %></button>
	<button><%= link_to "Developers", "/developers" %></button>
	<button><%= link_to "About Us", "/about" %></button>
	</div>
</body>
</html>